body {
    background-image: url(images/IMG_4427.jpg);
    background-size: cover;
}

.player-section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 10px;
    position: fixed;
    width: 20%;
    height: 80%;
    top: 10%;
    left: 0;
}
.player-section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 10px;
    position: fixed;
    width: 20%;
    height: 80%;
    top: 10%;
    right: 0;
}

.player-title {
    font-size: 5em;
}

.wins-counter{
    font-size: 3em;
}

.game-board {
    width: 55%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 1%; */
    padding-top: 0.5%;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 10px;
}

.announcement {
    text-align: center;
    font-size: 5em;
}

.game-grid {
    display: grid;
    padding-bottom: 2%;
    grid-template-areas: 
    'c1 c2 c3'
    'b1 b2 b3'
    'a1 a2 a3';
    width: 80%;
    height: 100%;
    margin: auto;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    width: auto;
    transition: ease-in 0.2s;
    font-size: 7em;
}

.square:hover {
    background-color:rgba(197, 163, 163, 0.3);
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3) {
  border-bottom: 5px solid black;
}

.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) {
  border-top: 5px solid black;
}

.square:nth-child(1),
.square:nth-child(4),
.square:nth-child(7) {
  border-right: 5px solid black;
}

.square:nth-child(3),
.square:nth-child(6),
.square:nth-child(9) {
  border-left: 5px solid black;
}